
<div class="user-form">
<div class="text-center user-form__title">登録</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="user-form__field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-form__input" %>
  </div>

  <div class="user-form__field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "user-form__input", placeholder: "パスワード(6文字以上)" %>
  </div>

  <div class="user-form__field">
    <%= f.label :password_confirmation, "パスワード確認用" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user-form__input" %>
  </div>

  <div class="user-form__field">
    <%= f.submit "登録", class: "user-form__btn btn" %>
  </div>

  <div class="user-form__field user-form__btn text-center facebook">
    <%= link_to "Facebookで登録", user_facebook_omniauth_authorize_path, class: "link-white btn" %>
  </div>

<% end %>
</div>

