<ul class="list">
  <% active = current_page?(info_user_path(current_user)) ? "active" : ""   %>
  <li class="list__item">
    <%= link_to info_user_path(current_user), class: "link-black #{active}" do %>
      <span class="<%= active %> d-none-s">ユーザー情報</span>
    <% end %>
  </li>
  <% active = current_page?(user_path(current_user)) ? "active" : ""   %>
  <li class="list__item">
    <%= link_to user_path(current_user), class: "link-black #{active}" do %>
      <i class="fas fa-file mr-m"></i>
      <span class="<%= active %>">Drafts</span>
      <span class="badge-primary"><%= @count_drafts %></span>
    <% end %>
  </li>
  <% active = current_page?(favorites_user_path(current_user)) ? "active" : ""   %>
  <li class="list__item">
  <%= link_to favorites_user_path(current_user), class: "link-black #{active}" do %>
    <i class="fas fa-star mr-m"></i>
    <span>お気に入り</span>
    <span class="badge-primary"><%= @count_favorites %></span>
  <% end %>
  </li>
  <li class="list__item d-none-s">
  <i class="fas fa-eye mr-m"></i>
    ステータス<span class="ml-m font-bold"><%= user_status(@user.status) %></span>
  </li>
  <li class="list__item list__user-status" style="">
  <%= link_to favorites_user_path(current_user), class: "link-black #{active}" do %>
    <div>
      <%= link_to user_status_toggle_button(@user.status), toggle_status_user_path(@user),  method: :patch, class: "btn-primary-sm link-white" %>
    </div>
    <div class="d-none-s ml-l">(送信済みのみ)</div>
  <% end %>
  </li>
  <!-- <li class="list__item"><i class="fas fa-chart-bar mr-m"></i>Stats</li> -->
</ul>