
<header class="header">
  <div class="container">
    <div class="logo">
      <%= link_to "RadioDraft.com", root_path, class: "link-white" %>
    </div>

    <%= form_tag root_path, method: :get, class: "search", style: "" do %>
      <%= hidden_field_tag :order, params[:order] %>
      <%= text_field_tag :keyword, params[:keyword], placeholder: "番組名・出演者・放送局", class: "search__input" %>
      <%= button_tag type: "submit",  class: "search__input" do %>
        <i class="fa fa-search search__icon"></i>
      <% end %>

    <% end %>

    <% unless current_user %>
    <div class="" style="">
      <%= link_to "登録", new_user_registration_path, class: "login-btn link-white" %>
      <%= link_to "ログイン", new_user_session_path, class: "login-btn link-white"%>
    </div>
    <% end %>

    <% if current_user %>
    <nav class="user_nav">
      <div class="user_nav__item-box">
        <div class="dropdown">
        <div class="dropbtn">
          <div class="avatar">
            <%= image_tag avatar_url(current_user), class: "rounded-circle avatar-sm"%>
          </div>
          <div class="user-name">
            <%= user_name %>
            <i class="fa fa-angle-down"></i>
          </div>
        </div>
        <div class="dropdown-content">
          <%= link_to "マイページ", user_path(current_user), class: "" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </div>
        </div>
      </div>
    </nav>
    <% end %>

  </div>
</header>