<% radios.each do |radio|%>
<div class="card pointer">
  <div class="card__img">
    <%= link_to radio_path(radio), class: "link-black" do %>
      <% if radio.img %>
      <%= image_tag(radio.img, :alt => "img", :class => "img") %>
      <% else %>
      <%= image_tag("no-img.png", :alt => "img", :class => "img") %>
      <% end %>
    <% end %>
  </div>
  <div class="card__content">
    <div>
      <h4 class="link-black d-none-s">
        <%= link_to radio.name.truncate(11, omission: '...'), radio_path(radio), class: "link-black" %>
      </h4>
      <h4 class="link-black d-s">
        <%= link_to radio.name.truncate(20, omission: '...'), radio_path(radio), class: "link-black" %>
      </h4>
    </div>
    <div>
      出演者
      <span class="font-sm"><%= truncate_user_name(radio.speakers) %></span>
    </div>
    <div class="font-sm">
      <span>
        <i class="fa fa-file mr-m cl-light-gray"></i><%= radio.drafts.count%>
      </span>
      <span>
        <i class="fa fa-star mr-m cl-light-gray"></i><%= Favorite.where(radio_id: radio.id).count %>
      </span>
    </div>
  </div>
  <div class="card__footer">
    <% if current_user %>
    <%= link_to "ハガキを書く", new_draft_path(radio), class: "btn link-white" %>
    <% else %>
    <%= link_to "登録してハガキを書く", new_user_registration_path, class: "btn link-white" %>
    <% end %>
  </div>
</div>

<% end %>