<div id="radio-edit" class="radio-edit-container" style="margin-top: 3rem;">
  <div class="mb-m" style="">
    <div class="radio-container__img" style="">
      <% if @radio.img %>
      <%= image_tag(@radio.img, :alt => "img", :class => "img") %>
      <% else %>
      <%= image_tag("no-img.png", :alt => "img", :class => "img") %>
      <% end %>
    </div>
    <div class="text-center mt-m font-l"><%= @radio.name %></div>
  </div>

  <div class="mb-m">
    <div class="radio-container__content__speaker">
      <span>出演者</span>
      <button class="btn-outline" v-on:click="toggleSpeakerForm">{{btnSpeaker}}</button>
    </div>
    <div class="mb-m">
      <span v-for="speaker in speakers" class="mr-m badge-primary">
        {{ speaker.name }}
        <span @click.prevent="deleteSpeaker($event, speaker.id)" class="pointer delete-speaker-btn">
          <i class="fa fa-times"></i>
        </span>
      </span>

    </div>
    <div class="mb-m">
      <form class="form" action="" v-if="showSpeakerForm" v-on:submit.prevent="createSpeaker($event)">
        <input class="form-control" type="text" v-model="speaker.name">
        <button class="btn-primary">追加</button>
      </form>
    </div>
    <div class="mb-m">
      <span>コーナー</span>
      <button class="btn-outline" v-on:click="toggleSegmentForm">
        {{btnSegment}}
      </button>
    </div>
    <div class="mb-m">
      <form class="form" action="" v-if="showSegmentForm" v-on:submit.prevent="createSegment($event)">
        <input class="form-control" type="text" v-model="segment.name">
        <button class="btn-primary">追加</button>
      </form>
    </div>

    <div>
      <span class="badge-primary" v-for="segment in activeSegments">
        {{ segment.name }}
        <span class="badge-danger pointer" @click.prevent="toggleSegment($event, segment.id)">終了</span>
        <span v-if="!segment.draft_count" @click.prevent="deleteSegment($event, segment.id)" class="pointer delete-speaker-btn">
          <i class="fa fa-times"></i>
        </span>
      </span>
    </div>
    <div class="finished-segment">
      <span class="badge-primary" v-for="segment in finishedSegments">
        {{ segment.name }}
        <span class="badge-success pointer" @click.prevent="toggleSegment($event, segment.id)">復活</span>
      </span>
    </div>

  </div>

  <div style="margin-bottom: 2rem;">
    <%= form_for @radio, html: {class: '', id: 'radio-form'} do |f| %>
    <div class="radio-form__field">
      <%= f.text_field :name, placeholder: "名前",class: "form-control" %>
    </div>
    <div class="radio-form__field">
      <%= f.text_field :url, placeholder: "番組ページURL",class: "form-control" %>
    </div>
    <div class="radio-form__field">
      <%= f.collection_select :station_id, Station.default_order, :id, :name, {include_blank: "放送局"}, { autofocus: 'false', class: 'form-select'} %>
    </div>

    <div class="radio-form__field">
      <%= f.submit "更新", class: "btn-primary" %>
    </div>
    <% end %>
  </div>

</div>

<%= javascript_pack_tag 'radio' %>