<div class="radio-new-container">
<div class="font-bold font-l text-center mt-l">ラジオ番組を登録する</div>
<%= form_for @radio, html: {class: 'radio-form', id: 'radio-form'} do |f| %>
  <div class="radio-form__field">
    <%= f.text_field :name, placeholder: "番組名",class: "radio-form__input" %>
  </div>
  <div class="radio-form__field">
    <%= f.text_field :url, placeholder: "番組ページURL",class: "radio-form__input" %>
  </div>
  <div class="radio-form__field">
    <%= f.collection_select :station_id, Station.default_order, :id, :name, {include_blank: "放送局"}, { autofocus: 'false', class: 'radio-form__select'} %>
  </div>

  <div class="radio-form__field">
    <%= f.submit "送信", class: "radio-form__btn btn" %>
  </div>
<% end %>
</div>

