<div class="container radio-show" style="margin-top: 3rem;">
  <div style="margin-bottom: 2rem;">
    <h2><%= @radio.name %></h2>
  </div>
  <div class="radio-container">
    <div class="radio-container__img" style="">
      <% if @radio.img %>
      <%= image_tag(@radio.img, :alt => "img", :class => "img") %>
      <% else %>
      <%= image_tag("no-img.png", :alt => "img", :class => "img") %>
      <% end %>
    </div>
    <div class="radio-container__content">
      <div class="radio-container__content__speaker">
        <p>出演者</p>
        <% @radio.speakers.each do |speaker| %>
          <span class="mr-m"><%= speaker.name %></span>
        <% end %>
      </div>
      <div>
        番組HP
        <%= link_to @radio.url, @radio.url, target: "blank", class: "link-black" %>
      </div>
      <div>
        <%= link_to "番組情報を編集する", edit_radio_path(@radio), class: "btn-edit link-white" %>
      </div>
    </div>
  </div>
</div>


