
<div id="radio-show" class="container radio-show" style="margin-top: 3rem;">
  <div class="radio-show__header">
    <div><%= @radio.name %></div>
    <div id="favorite" class="ml-auto">
      <span v-if="!is_favorite" class="font-sm">お気に入り登録</span>
      <span v-if="is_favorite" class="font-sm font-bold">I’m lovin’ it</span>
      <i v-if="!is_favorite" @click.prevent="createFavorite($event)" class="far fa-star pointer"></i>
      <i v-if="is_favorite" @click.prevent="deleteFavorite($event, favoriteId)" class="fas fa-star pointer cl-yellow"></i>
      <span>{{count}}</span>
    </div>
  </div>
  <div class="radio-container">
    <div class="radio-container__img" style="">
      <% if @radio.img %>
      <%= image_tag(@radio.img, :alt => "img", :class => "img") %>
      <% else %>
      <%= image_tag("no-img.png", :alt => "img", :class => "img") %>
      <% end %>
    </div>
    <div class="radio-container__content">
      <div class="radio-container__content__speaker">
        <p>出演者</p>
        <% @radio.speakers.each do |speaker| %>
          <span class="mr-m"><%= speaker.name %></span>
        <% end %>
      </div>
      <div class="mb-m">
        番組HP
        <%= link_to @radio.url, @radio.url, target: "blank", class: "link-black" %>
      </div>
      <div class="mb-m">
        <%= link_to "ハガキを書く", new_draft_path(@radio), class: "btn-primary-sm link-white" %>
      </div>
      <div class="mb-m">
        <%= link_to "番組情報を編集する", edit_radio_path(@radio), class: "btn-edit link-white" %>
      </div>
      <div>
        <%= link_to img_radio_path(@radio), class: "link-black" do %>
          <span class="mr-m">画像再取得</span><i class="fas fa-download"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'favorite' %>
