<div id="" class="draft-new-container">
  <div class="draft-new__header">
    <div class="draft-new__header__img">
      <% if @radio.img %>
        <%= image_tag(@radio.img, :alt => "img", :class => "img") %>
      <% else %>
        <%= image_tag("no-img.png", :alt => "img", :class => "img") %>
      <% end %>
    </div>
    <div id="" class="draft-new__header__content segment-form">
      <div class=""><%= link_to @radio.name, radio_path(@radio), class: "link-black font-l" %></div>
      <div class="font-ml">
        <span>出演者</span>
      </div>
      <div>
        <% @radio.speakers.each do |speaker| %>
          <span class="badge-primary"><%= speaker.name %></span>
        <% end %>
      </div>
      <div class="font-ml">
        <span>コーナー</span>
      </div>
      <div>
        <% @radio.segments.each do |segment| %>
          <span v-for="segment in segments" class="badge-primary"><%= segment.name %></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="">
    <%= form_for @draft, url: draft_path(@draft.id), html: {class: ''} do |f| %>
      <div class="form-field">
        <% default = @draft.segment.present? ? @draft.segment.id : "" %>
        <%= f.select "segment_id", options_from_collection_for_select(@radio.segments, "id", "name", selected: default), {include_blank: ""}, { autofocus: 'false', class: 'form-select'} %>
      </div>
      <div class="form-field">
        <%= f.text_field :title, placeholder: "タイトル(なしでもいい)",class: "form-control" %>
      </div>
      <div class="form-field">
        <%= f.text_area :content, placeholder: "下書き",class: "form-control" , rows: "25" %>
      </div>
      <div class="form-field">
        <%= f.submit "送信", class: "btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
