<div class="draft-new-container">
  <div class="draft-new__header">
    <div class="draft-new__header__img">
      <% if @radio.img %>
        <%= image_tag(@radio.img, :alt => "img", :class => "img") %>
      <% else %>
        <%= image_tag("no-img.png", :alt => "img", :class => "img") %>
      <% end %>
    </div>
    <div id="segment-form" class="draft-new__header__content">
      <div class=""><%= link_to @radio.name, radio_path(@radio), class: "link-black font-l" %></div>
      <div class="font-ml">
        <span>出演者</span>
        <button class="btn-outline" v-on:click="listSegments">{{btnSegment}}</button>
      </div>
      <div>
        <% @radio.speakers.each do |speaker| %>
          <span class="badge-primary"><%= speaker.name %></span>
        <% end %>
      </div>
      <div class="font-ml">
        <span>コーナー</span>
        <button class="btn-outline" v-on:click="toggleForm" v-if="showButton">{{btnSegment}}</button>
      </div>
      <div>
        <span v-for="segment in segments" class="badge-primary">{{ segment.name }}</span>
      </div>
      <div class="">
        <form class="form" action="" v-if="showForm" v-on:submit.prevent="createTask($event)">
          <input class="form-control" type="text" v-model="segment.name">
          <button class="btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="">
    <%= form_for @draft, url: drafts_path(@radio.id), html: {class: ''} do |f| %>
      <div class="form-field">
        <%= f.collection_select :segment_id, @radio.segments.all, :id, :name, {}, { autofocus: 'false', class: 'form-select'} %>
      </div>
      <div class="form-field">
        <%= f.text_field :title, placeholder: "タイトル(なしでもいい)",class: "form-control" %>
      </div>
      <div class="form-field">
        <%= f.text_area :content, placeholder: "下書き",class: "form-control" , rows: "25" %>
      </div>
      <div class="form-field">
        <%= f.submit "送信", class: "btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
