<!DOCTYPE html>
<html>
  <head>
    <title>ラジオのハガキを書くなら RadioDraft.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <%= javascript_include_tag "application" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    
    <%= javascript_pack_tag 'api' %>

    <%= display_meta_tags(default_meta_tags) %>

    <%= analytics_init if Rails.env.production? %>

    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1966246897980324",
        enable_page_level_ads: true
      });
    </script> -->


  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/message" %>
    <div class="container" style="min-height: 80rem;">
      <%= yield %>
    </div>
    <div id="ad-footer">
      <%= render "shared/ad" %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
