<!DOCTYPE html>
<html>
  <head>
    <title>RadioDraft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'api' %>

    <%= display_meta_tags(default_meta_tags) %>

    <%= analytics_init if Rails.env.production? %>

  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/message" %>
    <div class="container" style="min-height: 80rem;">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
